body {
    background-color: #242121;
    color: white;
}

section {
    /* border: 2px solid red; */
    width: 200px;
    height: 200px;
    margin: 50px auto;
    position: relative;
}

section div {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 25px white;
    border-radius: 20% 0;
}

#box1 {
    background-color: red;
    animation: muovi-rosso 4s infinite;
}
#box2 {
    background-color: blue;
    animation: muovi-blu 4s infinite;
}
#box3, #box4, h1 {
    position: absolute;
}
#box3 {
    background-color: green;
    top: 0;
    right: 0;
    animation: muovi-verde 4s infinite;
}
#box4 {
    background-color: gold;
    bottom: 0;
    right: 0;
    animation: muovi-giallo 4s infinite;
}
h1 {
    top: 30%;
    left: 30%;
    z-index: -1;
}

@keyframes muovi-rosso {
    0%, 100% {
        transform: translate(0px)
            rotate(0deg);
    }
    50% {
        transform: translate(-60px, -25px)
            rotate(-90deg) scale(0.8);
    }
}

@keyframes muovi-blu {
    0%, 100% {
        transform: translate(0px)
            rotate(0deg);
    }
    50% {
        transform: translate(-60px, 25px)
            rotate(90deg) scale(0.8);
    }
}

@keyframes muovi-verde {
    0%, 100% {
        transform: translate(0px)
            rotate(0deg);
    }
    50% {
        transform: translate(60px, -25px)
            rotate(90deg) scale(0.8);
    }
}

@keyframes muovi-giallo {
    0%, 100% {
        transform: translate(0px)
            rotate(0deg);
    }
    50% {
        transform: translate(60px, 25px)
            rotate(-90deg) scale(0.8);
    }
}